.stream-container {
  padding: 0;
}

#session-header {
  position: fixed;
  bottom: 20px; /* 화면 아래에서 20px 위에 위치 */
  right: 20px; /* 화면 오른쪽에서 20px 왼쪽에 위치 */
  z-index: 1000; /* 다른 요소들 위에 나타나도록 z-index를 높게 설정 */
}

#buttonSwitchCamera {
  padding: 10px 20px;
  background-color: #28a745; /* 버튼의 배경색 */
  color: white; /* 버튼의 텍스트 색상 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#buttonSwitchCamera:hover {
  background-color: #218838; /* 호버 시 배경색 */
}

.btn {
  position: fixed; /* 버튼을 고정하여 위치 지정 */
  bottom: 40px; /* 화면의 아래에서 40px 위로 위치 (이전 100px에서 수정) */
  right: 80px; /* 화면의 오른쪽에서 120px 왼쪽으로 위치 (이전 60px에서 수정) */
  background-color: white; /* 버튼의 배경색 */
  color: black; /* 버튼의 텍스트 색상 */
  border: none;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px; /* 모서리를 둥글게 */
  z-index: 2000; /* native 컴포넌트보다 위에 나타나도록 z-index를 높게 설정 */
}

.pictureIcon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  right: 50%;
  background-color: white;
  position: absolute;
  border-color: "black";
  border-width: 1;
}
